# Rules are evaluated from top to bottom, the first one to match all
# patterns wins. Rule sets needs to be separated with an empty line or a
# comment.  A line starting with a # is a comment and is ignored.
#
# The global shell variable below can be omitted in which case the
# default value is set to '/bin/sh -c'.  It is used by the "start" verb
# to spawn processes, and can be overridden. It expects a full path to
# the executable and exactly one flag for specifying which commands to
# be executed.
#
shell='/bin/sh -c'

# Man pages in zathura
type	is	text
data	matches	'(.*)\(([0-9])\)'
plumb	start	man -Tpdf $1 $2 | zathura -

# Documents go to zathura
type	is	text
data	matches	'.*.(pdf|eps|ps|epub)$'
arg	isfile	$0
plumb	start	zathura "$file"

# Images to nsxiv
type	is	text
data	matches	'.*.(png|png|jpe?g|JPE?G|gif)$'
arg	isfile	$0
plumb	start	nsxiv "$file"

# Videos to mpv
type	is	text
data	matches	'.*.(mp4|webm|ogv|ogg|opus|mpg|mpeg|mov|flac|wav|mp3|mkv|av)$'
arg	isfile	$0
plumb	start	mpv "$file"

# YouTube videos play in mpv
type	is	text
data	matches	'y(ew|ou)tu\.?be(\.com)'
plumb	start	mpv "ytdl://$data"

# URLs go to web browser
type	is	text
data	matches	'^https?://[a-zA-Z0-9@\/\.\-_]+'
plumb	start	firefox "$data"

# Catch all rule; regular files gets opened in the text editor
type	is	text
data	isfile	$data
plumb	start	xterm -e vim "$file"
